@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --primary-color: #2196F3;
  --primary-light: #E3F2FD;
  --primary-dark: #1565C0;
  --secondary-color: #17afb9;
  --text-dark: #2D3436;
  --text-light: #636E72;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  color: var(--text-dark);
  background: var(--white);
}

.main {
  display: flex;
  flex-direction: column;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
  font-size: 16px;
}

a[href^="tel"] {
  text-decoration: none;
  color: var(--secondary-color);
}

.icon {
  width: 24px;
  height: 24px;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.link-marker {
  color: var(--white);
  font-weight: 800;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Кнопка */
.button {
  width: 200px;
  height: 50px;
  background: var(--primary-light);
  color: var(--primary-color);
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.button:hover {
  background: var(--primary-color);
  color: var(--white);
  cursor: pointer;
}

/* Шапка */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--white);
  -webkit-box-shadow: 0px 6px 16px -2px rgba(33, 150, 243, 0.2);
  -moz-box-shadow: 0px 6px 16px -2px rgba(33, 150, 243, 0.2);
  box-shadow: 0px 6px 16px -2px rgba(33, 150, 243, 0.2);
  z-index: 1000;
}

.header__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}

.header__logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Forum", serif;
  font-size: 26px;
  font-weight: 800;
  color: var(--primary-dark);
  -webkit-text-stroke: 1px var(--primary-dark); /* Обводка для WebKit-браузеров (Chrome, Safari) */
  letter-spacing: -0.5px;
  background-image: url(./assets/denio-logo.png);
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 80px;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 12px;
  height: 100%;
}

.nav-link:hover {
  color: var(--primary-dark);
  background: var(--primary-light);
}

/* Секция "Главная" */
.home {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home__content {
  padding: 0 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.home__logo {
  font-family: "Forum", serif;
  font-size: 64px;
  font-weight: 800;
  color: var(--primary-dark);
  -webkit-text-stroke: 2px var(--primary-dark); /* Обводка для WebKit-браузеров (Chrome, Safari) */
  margin-bottom: 60px;
  letter-spacing: 2px;
  background-image: url(./assets/denio-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  height: 100px;
  width: 200px;
}

.home__title {
  font-size: 26px;
  font-weight: 700;
  color: var(--primary-dark);
  line-height: 1.2;
}

.home__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-size: 14px;
}

.home__text-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  font-size: 14px;
  color: var(--text-light);
}

.home__text-item p {
  text-align: start;
  line-height: 1.4;
}

.text-item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-item__text-title {
  font-size: 18px;
  color: var(--secondary-color);
}

.text-item__text-subtitle {
  font-size: 12px;
}

/* Секция "Услуги" */
/** TODO: навести порядок в стилях */
.services {
  background: var(--white);
  padding-top: 60px;
  position: relative;
}

.services__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-light);
}

.services__content {
  background: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px 32px 0 32px;
}

.services__title {
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-dark);
}

.services__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.service__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  gap: 6px;
  background: var(--white);
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid var(--primary-color);
}

.service__card h3 {
  pointer-events: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.service__card p {
  pointer-events: none;
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.1;
}

/* Секция "Контакты" */
.contacts {
  padding-top: 60px;
  background: var(--primary-light);
  position: relative;
}

.contacts__content {
  background: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  text-align: center;
  padding: 30px 32px 0 32px;
}

.contacts__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
}

.contacts__title {
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-dark);
  line-height: 1;
}

.contacts__map {
  height: 300px;
  display: none;
}

.contacts__grid {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 20px 40px rgba(33, 150, 243, 0.08);
}

.contacts__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.contacts__qr {
  display: none;
}

.contacts__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  color: var(--text-light);
}

.contacts__row-phone {
  text-decoration: none !important; /* Уирает подчеркивание */
  line-height: 1.4;
  text-align: start;
  font-size: 16px;
  font-weight: 700 !important;
  color: var(--secondary-color) !important;
}

.contacts__row-item {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contacts__row-item p {
  line-height: 1.4;
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--text-light);
}

/** Стили для Отзывов */
.reviews {
  background: var(--white);
  padding-top: 60px;
  position: relative;
}

.reviews__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-light);
}

.reviews__content {
  background: var(--primary-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px 32px 30px 32px;
}

.reviews__title {
  width: 100%;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-dark);
}

.reviews__grid {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 6px;
  background: var(--white);
  padding: 30px 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid var(--primary-color);
}

.reviews__card h3 {
  pointer-events: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.reviews__card p {
  pointer-events: none;
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.1;
}

/** Стили для футера */
.footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--text-light);
}

.footer__container {
  width: 100%;
}

.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--white);
  padding: 30px 32px;
}

.footer__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.footer__docs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 0.8rem;
  background: var(--primary-light);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  height: 3rem;
  width: 100%;
}

.footer__github {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--text-dark);
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
}

.footer__github img {
  width: 24px;
  height: 24px;
}

.footer__github a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  line-height: 1;
}

/* Адаптивность под ПК мониторы */
@media (min-width: 1600px) {
  /* Шапка */
  .header__container {
    padding: 0 25rem;
  }

  .header-top {
    width: 20%;
  }

  .nav-links {
    justify-content: flex-end;
    width: 100%;
  }

  /* Секция "Главная" */
  .home {
    padding-top: 180px;
  }

  .home__container {
    padding: 0 25rem;
  }

  .home__content {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .home__logo {
    margin-bottom: 8rem;
    height: 120px;
    width: 300px;
  }

  .home__title {
    font-size: 32px;
    width: 100%;
    text-align: center;
  }

  .home__text {
    gap: 1.5rem;
  }

  .home__text-item {
    gap: 1rem;
  }

  .home__text-item p {
    font-size: 22px;
  }

  /* Секция "Услуги" */
  .services__container {
    padding: 0 25rem;
  }

  .services__content {
    padding: 2rem 0;
  }

  .services__title {
    font-size: 32px;
  }

  .services__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .service__card {
    height: 200px;
  }

  .service__card h3 {
    font-size: 22px;
  }

  .service__card p {
    font-size: 16px
  }

  /* Секция "Контакты" */
  .contacts {

  }

  .contacts__container {
    padding: 0 25rem;
    background: var(--white);
  }

  .contacts__content {
    padding: 60px 0 0 0;
    gap: 1rem;
  }

  .contacts__info {
    background: var(--primary-light);
    padding: 1rem;
    border-radius: 1rem;
  }

  .contacts__title {
    font-size: 32px;
  }

  .contacts__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .contacts__qr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .contacts__qr img {
    padding: 1rem;
    background: var(--white);
    width: 150px;
    height: 150px;
  }

  .contacts__map {
    width: 100%;
    height: 529px;
    display: block;
    border-radius: 1rem;
    overflow: hidden;
  }

  .contacts__grid {

  }

  .contacts__info {
    width: 45%;
  }

  .contacts__row {

  }

  .contacts__row p {

  }

  .contacts__row-item {

  }

  .contacts__row-item p {

  }

  /* Секция "Услуги" */
  .reviews__container {
    padding: 0 25rem;
  }

  .reviews__content {
    padding: 2rem 0;
  }

  .reviews__title {
    font-size: 32px;
  }

  .reviews__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .reviews__card {
    height: 200px;
  }

  .reviews__card h3 {
    font-size: 22px;
  }

  .reviews__card p {
    font-size: 16px
  }

  /** Стили для футера */
  .footer {

  }

  .footer__container {
    padding: 0 25rem;
  }

  .footer__content {
    padding: 30px 0;
  }

  .footer__github {

  }

  .footer__github img {

  }

  .footer__github a {

  }
}

@media (min-width: 1600px) {

}